@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    background: #2b102d;
}
section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #aa01bc;
}
section .container{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 10;
}
section .container .contactInfo{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #2b102d;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}
section .container .contactInfo h2,
section .container .contactForm h2{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
section .container .contactInfo .info{
    position: relative;
    margin: 20px 0;
}
section .container .contactInfo .info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}
section .container .contactInfo .info li span:nth-child(1){
    width: 30px;
    min-width: 30px;
}
section .container .contactInfo .info li span:nth-child(1) i{
    max-width: 100%;
    filter: invert(1);
    opacity: 0.5;
    transition: 0.3s;
}
section .container .contactInfo .info li span:nth-child(2){
    color: #fff;
    font-weight: 300;
    opacity: 0.5;
    transition: 0.3s;
}
section .container .contactInfo .info li:hover span:nth-child(1) i,
section .container .contactInfo .info li:hover span:nth-child(2){
    opacity: 1;
}
section .container .contactInfo .socialMedia{
    position: relative;
    display: flex;
    justify-content: center;
}
section .container .contactInfo .socialMedia li{
    list-style: none;
    margin-right: 25px;
}
section .container .contactInfo .socialMedia li a{
    text-decoration: none;
}
section .container .contactInfo .socialMedia li a i{
    opacity: 0.5;
    color: #fff;
    transition: 0.3s;
}
section .container .contactInfo .socialMedia li:hover a i{
    opacity: 1;
}
section .container .contactForm{
    position: absolute;
    padding: 70px 50px;
    background: #fff;
    margin-left: 150px;
    padding-left: 250px;
    width: calc(100% - 150px);
    height: 100%;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
}
section .container .contactForm h2{
    color: #2b102d;
}
section .container .contactForm form{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
section .container .contactForm form .inputBox{
    position: relative;
    margin: 0 0 35px 0;
}
section .container .contactForm form .inputBox.w50{
    width: 47%;
}
section .container .contactForm form .inputBox.w100{
    width: 100%;
}
section .container .contactForm form .inputBox input,
section .container .contactForm form .inputBox textarea{
    resize: none;
    width: 100%;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}
section .container .contactForm form .inputBox textarea{
    min-height: 120px;
}
section .container .contactForm form .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    transition: 0.5s;
    pointer-events: none;
}
section .container .contactForm form .inputBox input:focus ~ span,
section .container .contactForm form .inputBox textarea:focus ~ span,
section .container .contactForm form .inputBox input:valid ~ span,
section .container .contactForm form .inputBox textarea:valid ~ span{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #af4bfc;
}
section .container .contactForm form .inputBox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background: #2b102d;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
    transition: 0.3s;
}
section .container .contactForm form .inputBox input[type="submit"]:hover{
    background: #af4bfc;
}